# Generated Makefiles
**/Makefile
**/Makefile.in

# Generated configure files
config.log
config.status
configure

# Autotools stuff
autom4te.cache/*
aclocal.m4

# Generated docbook-utils files
bin/jw
bin/sgmldiff
backends/man
backends/texi
frontends/docbook
doc/HTML/*
!doc/HTML/Makefile.am
doc/man/*
!doc/man/Makefile.am
doc/version
